<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">글 번호</th>
      <th scope="col">제목</th>
      <th scope="col">일시</th>
      <th scope="col">정원</th>
      <th scope="col">상세보기</th>
    </tr>
  </thead>
  <tbody>
    {% for list in list_list %}
    <tr>
      <th scope="row">{{list['list_num']}}</th>
      <td>{{list['list_title']}}</td>
      <td>{{list['list_date']}}</td>
      <td>{{list['list_max']}}</td>
      <td>
        <a href="/detail/{{list['list_num']}}">상세보기</a>
        <!-- <button
          onclick="openClose_update()"
          type="button"
          class="btn btn-warning"
        >
          수정/삭제
        </button> -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
